fastapi
uvicorn

# --- ORM & Database ---
sqlalchemy
alembic
psycopg2-binary # for PostgreSQL

# --- Data Validation & Settings ---
pydantic
pydantic-settings

# --- Security & Authentication ---
passlib # for password hashing (using pbkdf2_sha256, no bcrypt needed)
python-jose[cryptography]

# --- Logging ---
colorlog # For colored log output